@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", serif;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* banner section */
.banner-section {
    background-image: url("../images/newyearone.png");
    width: 1800px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 16px;
} 

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.banner-content h1 {
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0;
    text-align: center;
} 

.banner-content p {
    color: white;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
} 

/* main section style */
.second-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}  

.second-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
} 

.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin-top: 45px;
} 

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
} 

.image-container {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
} 

.image-container img {
    height: 100%;
    width: 100%;
} 

/* midnight party section style */
.midnight-party-container {
    width: 1800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    background-image: url("../images/night.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
} 

.left-side-content {
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.right-side-content {
    width: 50%;
    height: 800px;
} 

.left-side-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-top: 170px;
} 

.left-side-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 200px;
    margin-top: 50px;
} 

#midnight-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 80px;
    margin-right: 380px;
    border: 2px dashed aliceblue;
    padding: 5px;
} 

.right-side-content {
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* join-section style */
.join-container {
    width: 1800px;
    height: 550px;
    margin: 0 auto;
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
} 

.join-now {
    margin-bottom: 100px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
} 

.join-now span {
    color: rgb(255, 0, 0);
} 

#span-one {
    padding-left: 90px;
} 

#span-two {
    padding-left: 30px;
} 

.join-btn {
    width: 180px;
    height: 60px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    padding: 16px 32px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter;
    border: none;
} 

/* best offer section style */
.best-offer {
    width: 1800px;
    height: 510px;
    margin: 0 auto;
    display: flex;
    margin-top: 120px;
    align-items: center;
} 

.best-offer-one {
    width: 33%;
}  

#offer-one {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
} 

.best-offer-one h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
} 

#offer-two {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.best-offer-two {
    width: 29%;
    height: 510px;
    border: 15px solid red;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.best-offer-img img {
    height: 380px;
    width: 380px;
    border: 2px dashed rgb(188, 193, 197);
}

.best-offer-three {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 30px;
} 

.best-offer-three h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-right: 160px;
    margin-top: 150px;
} 

.best-offer-three p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
} 

.best-offer-img-two img {
    border: 2px dashed rgb(162, 166, 170);
    margin-right: 130px;
} 

/* holiday section design */
.holiday-section {
    width: 1800px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 130px;
    position: relative;
} 

.holiday-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.holiday-text-container h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
} 

.holiday-text-container h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
} 

#holiday {
    color: rgb(255, 0, 0);
} 

.holiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 28px;
}

.solid-color {
    width: 1800px;
    height: 235px;
    background-color: red;
    position: absolute;
    top: 76.36%;
} 

.gift-box {
    width: 674.82px;
    height: 577.96px;
    position: absolute;
    z-index: 1;
    top: 40%;
    display: flex;
    left: 20%;
} 

.grl-container {
    position: relative;
    top: 50%;
}